spring:
  application:
    name: learning-content-service
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
  datasource:
    url: jdbc:postgresql://localhost:5432/learning-content
    driverClassName: org.postgresql.Driver
    username: root
    password: root
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/english-learning-realm

server:
  servlet:
    context-path: /
  port: 8081
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/