spring:
  application:
    name: dictionary-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/demo-realm
  data:
    mongodb:
      uri: ${MONGODB_URI}



server:
  port: 8082
  servlet:
    context-path: /
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

