spring:
  application:
    name: user-service
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:postgresql://localhost:5432/user
    driverClassName: org.postgresql.Driver
    username: root
    password: root
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/english-learning-realm

server:
  servlet:
    context-path: /
  port: 8083
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/